<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <!-- Include the Tailwind CSS stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-md w-full p-8 bg-white rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-6">Password Reset</h2>
      {% if error %}
      <p class="text-red-400 py-4 mb-4">{{error}}</p>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label for="newPassword" class="block text-gray-700"
            >New Password</label
          >
          <input
            type="password"
            id="newPassword"
            name="new_password1"
            class="py-2 border mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          />
        </div>
        <div class="mb-4">
          <label for="confirmPassword" class="block text-gray-700"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirmPassword"
            name="new_password2"
            class="py-2 border mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          />
        </div>

        <input type="hidden" id="token-value" name="token" value="{{token}}" />

        <div class="mt-6">
          <button
            type="submit"
            class="w-full px-4 py-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700"
          >
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
