<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activate Code</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="container mx-auto">
      <h1 class="text-2xl font-bold">Welcome to Your App!</h1>
      <p class="my-4">
        Thank you for registering. To activate your account, please use the
        following code:
      </p>
      <button class="text-4xl font-bold py-2 px-8">
        <a href="{{activate_link}}">Activate Account</a>
      </button>
    </div>
  </body>
</html>
