<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <!-- Include Tailwind CSS via CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans">
    <div
      class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-md w-full space-y-8">
        <div class="mt-8 space-y-6">
          <p class="text-lg leading-relaxed">Dear {{name}},</p>
          <p class="text-lg leading-relaxed">
            Thank you for request for rest password! to reset your password,
            please click on the link below:
          </p>
          <div class="mt-6">
            <a
              href="{{rest_password_url}}"
              class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
            >
              Rest Password Url
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
